<section id="contact" class="col s12 m12 l12">
  <div class="section-title">
    <h2>
      <i class="fa fa-object-group">
      </i>
      Contact Me
    </h2>
  </div>
  <div class="container">
    <div class="row z-depth-1">
      <div class="contact-form col s12 m12 l6">
        <form method="POST" action="https://formspree.io/jeansantosc@gmail.com">
          <div class="row">
            <div class="input-field">
              <input id="contact-name" type="text" class="validate" name="name">
              <label for="contact-name">Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field">
              <input id="contact-email" type="email" class="validate" name="_replyto">
              <label for="contact-email" data-error="wrong" data-success="right">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field">
              <input id="contact-subject" type="text" class="validate" name="subject">
              <label for="contact-subject">Subject</label>
            </div>
          </div>
          <div class="row">
            <form>
              <div class="input-field">
                <textarea id="contact-message" class="materialize-textarea" name="message"></textarea>
                <label for="message">Message</label>
              </div>
            </form>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div>
      <div class="contact-map col s12 m12 l6">
        <div class="test-class-right col s12 m12">
          <ul>
            <li><span class="left-side col s4 m4">AGE</span><span class="right-side">20</span></li>
            <li><span class="left-side col s4 m4">ADDRESS </span><span class="right-side">Londrina, Brazil</span></li>
            <li><span class="left-side col s4 m4">PHONE </span><span class="right-side">+55 (43) 8478-2341</span></li>
            <li><span class="left-side col s4 m4">EMAIL </span><span class="right-side">jeansantosc@gmail.com</span></li>
            <li><span class="left-side col s4 m4">FREELANCE </span><span class="right-side">Available</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
