<section id="projects">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>
          <i class="fa fa-object-group">
          </i>
          Projects
        </h2>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/img/projects/proj-1/img1.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Google Replica<i class="material-icons right">more_vert</i></span>
              <p><a href="https://htmlpreview.github.io/?https://github.com/Jean-CS/google-homepage/blob/master/main.html">Preview</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Google Homepage Replica<i class="material-icons right">close</i></span>
              <p>My first ever web project, made after starting The Odin Projects curriculum it is their first assignment for anyone following along. The objective was to test the recently acquired HTML and CSS skills, without using any type of framework.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/img/projects/proj-2/img1.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Etch-A-Sketchpad<i class="material-icons right">more_vert</i></span>
              <p><a href="https://htmlpreview.github.io/?https://github.com/Jean-CS/Etch-a-sketchpad/blob/master/index.html">Preview</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Etch-A-Sketchpad<i class="material-icons right">close</i></span>
              <p>From our days as kids drawing around with an Etch a Sketch, this project aimed at simulating that experience. Made with HTML, CSS and jQuery you can choose to draw with a black color, random colors or a black color tone variation. It is project number 2 on The Odin Project curriculum.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
