<section id="projects">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>
          <i class="fa fa-object-group">
          </i>
          Projects
        </h2>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/img/projects/proj-3/quote-machine.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Quote Machine<i class="material-icons right">more_vert</i></span>
              <p><a href="http://codepen.io/JeanCS/full/ezOmqK/">Preview</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Random quotes application<i class="material-icons right">close</i></span>
              <p>
                This web application was made for learning API usage, how to work with JSON objects and implementing a simple Queue data structure.<br>
                Two API's were used:
                <ul>
                  <li><b><a href="http://api.forismatic.com">Foresmatic API</a></b></li>
                  <li><b><a href="https://dev.twitter.com/rest/public">Twitter API</a></b></li>
                </ul>
                Technologies used:
                <ul>
                  <li>HTML, CSS (SASS), Bootstrap, jQuery, Ajax</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/img/projects/proj-1/img1.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Google Replica<i class="material-icons right">more_vert</i></span>
              <p><a href="https://htmlpreview.github.io/?https://github.com/Jean-CS/google-homepage/blob/master/main.html">Preview</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Google Homepage Replica<i class="material-icons right">close</i></span>
              <p>My first ever web project, made after starting The Odin Projects curriculum. It is their first assignment for anyone following along. The objective of the project was to test the recently acquired HTML and CSS skills, without using any type of framework.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/img/projects/proj-2/img1.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Etch-A-Sketchpad<i class="material-icons right">more_vert</i></span>
              <p><a href="https://htmlpreview.github.io/?https://github.com/Jean-CS/Etch-a-sketchpad/blob/master/index.html">Preview</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Etch-A-Sketchpad<i class="material-icons right">close</i></span>
              <p>From our days as kids drawing around with an Etch a Sketch, this project aimed at simulating that experience. Made with HTML, CSS and jQuery you can choose to draw with a black color, random colors or a black color tone variation. It is project number 2 on The Odin Project curriculum.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
